<div class='container py-4'>
  <div class="row">
    <div class="col-md-3 bg-light rounded shadow-sm p-4">
      <h2 class="text-primary mb-4">Member Info</h2>
      <div class="mb-4">
        <%= render partial: "public/members/info", locals: { member: @member }%>
      </div>
      <div>
        <%= render partial: "public/free_posts/form", locals: { free_post: @free_post } %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="text-primary mb-4">Groups</h2>

      <%# ゲストログインに制限をつけるときに利用 %>
      <%# unless current_member.email == "guest@example.com" %>
        <%= link_to "グループを作成する", new_group_path %>
        
      <%# end %>

        <%= render 'index', groups: @groups %>
    </div>

  </div>
</div>