<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <!-- Editing Post Heading -->
      <h1 class="text-primary mb-4">Edit</h1>

      <!-- Post Form -->
      <div class="card shadow-sm">
        <div class="card-body">
          <%= render 'form', post: @post %>
        </div>
      </div>

      <!-- Navigation Links -->
      <div class="mt-4 d-flex justify-content-between">
        <%= link_to 'Show', @post, class: "btn btn-outline-primary btn-sm" %>
        <%= link_to 'Back', posts_path, class: "btn btn-outline-secondary btn-sm" %>
      </div>
    </div>
  </div>
</div>
