<div class="container my-5">
  <% unless current_member.email == "guest@example.com" %>
  <!-- 検索フォーム -->
  <div class="d-flex justify-content-center mb-4">
    <div class="w-75">
      <%= render "public/searches/form" %>
    </div>
  </div>
  <% end %>

  <!-- Members Table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-primary">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <% members.each do |member| %>
          <tr>
            <!-- Member Profile Image -->
            <td>
              <%= image_tag member.get_profile_image, size: '50x50', class: 'rounded' %>
            </td>

            <!-- Member Name -->
            <td>
              <%= link_to member.name, member_path(member), class: "text-decoration-none text-dark fw-bold" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
