<table class="table">
  <tr>
  <td><%= image_tag member.get_profile_image, size:'100x100',fallback: "no_image.jpg" %></td>
  </tr>
  <tr>
    <th>name</th>
    <th><%= member.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= member.introduction %></th>
  </tr>
</table>

<% if member.email != "guest@example.com" %>
  <div class="row">
    <%= link_to edit_member_path(member), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>