<div class="container my-5">
  <!-- Member Profile Table -->
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-center mb-4">
        <!-- Profile Image -->
        <%= image_tag member.get_profile_image, size: '100x100', fallback: "no_image.jpg", class: "rounded-circle border" %>
      </div>
      
      <table class="table table-borderless">
          <tbody>
            <!-- Name -->
            <tr>
              <th scope="row" class="text-primary">Name</th>
            </tr>
            <tr>
              <td class="fw-bold"><%= member.name %></td>
            </tr>
            <!-- Introduction -->
            <tr>
              <th scope="row" class="text-primary">Introduction</th>
            </tr>
            <tr>
              <td><%= member.introduction %></td>
            </tr>
          </tbody>
        </table>

      <!-- Edit Button (Visible only if not a guest account) -->
      <% if member.email != "guest@example.com" %>
        <div class="d-flex justify-content-center mt-4">
          <%= link_to edit_member_path(member), class: "btn btn-outline-secondary btn-sm" do %>
            <i class="fas fa-user-cog"></i> 編集
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
