<!-- Posts Table -->
<div class="container my-5">
  <h2 class="text-primary mb-4">Posts</h2>

  <%= render "public/members/posts", posts: posts %>
</div>

<!-- Free Posts Table -->
<div class="container my-5">
  <h2 class="text-primary mb-4">Free Posts</h2>
  
  <%= render "public/members/free_posts", free_posts: free_posts %>
</div>

<!-- Groups Table -->
<div class="container my-5">
  <h2 class="text-primary mb-4">Groups</h2>
  <%= render "public/members/group_members", group_members: permit_group_members %>
</div>

