<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>member info</h2>   
      <%= render 'public/members/info', member: current_member %>
      <%= render 'public/posts/form', post: @post %> 
   </div>
   <div class='col-md-8 offset-md-1'>
    <%= render 'public/members/mypage', free_posts: @free_posts,
                                        posts: @posts,
                                        groups: @group,
                                        permit_group_members: @permit_group_members %>
   </div>
  </div>
</div>