<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Member info</h2>

      <%= render 'public/members/info', member: @member %>    
      <%= render 'public/free_posts/form', free_post: @free_post %>

    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Free_posts</h2>

      <%= render 'public/free_posts/index', free_posts: @free_posts %>
      
    </div>
  </div>
</div>

